{% load static %}

<!-- registration.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Stocks</title>
  </head>
  <body>
    <div class="dashboard-page">
    
    <!-- header component -->
    <div
        class="header-component"
        style="
          height: 40%;
          width: full;
          padding: 1%;
          background-color: crimson;
          color: whitesmoke;
          border: black solid 4px;
          font-size: xx-large;
          font-family: 'Showcard Gothic';"
        >
        Stocks &nbsp; Inventory &nbsp; for &nbsp; you..
    </div>

    <!-- Mid component -->
    <div
        class="mid-component"
        style="
          height: 100%;
          width: full;
          margin-top: 6%;
          padding-top: 2%;"
        >
        Hi... dashboard here
    </div>

    <!-- footer component -->
    <div class="footer-component"
        style="
            height: 40%;
            width: full;
            margin-top: 10%;
            padding: 1%;
            background-color: crimson;
            color: whitesmoke;
            border: black solid 5px;
            font-size: x-large;
            font-family: 'Showcard Gothic';"
        >
    Technical &nbsp; Round: &nbsp; 2023 &nbsp; -- &nbsp; The &nbsp; Investor&nbsp; Co.
    </div>
  </body>
</html>
