{% load static %}
<!-- registration successful -->
<!DOCTYPE html>
<html>
  <head>
    <title>Stocks</title>
  </head>
  <body>
    <div class="registration-successful-page">
      <!-- header component -->
      <div
        class="header-component"
        style="
          height: 40%;
          width: full;
          padding: 1%;
          background-color: crimson;
          color: whitesmoke;
          border: black solid 4px;
          font-size: xx-large;
          font-family: 'Showcard Gothic';
        "
      >
        Stocks &nbsp; Inventory &nbsp; for &nbsp; you..
      </div>

      <!-- Mid component -->
      <div
        class="mid-component"
        style="
          height: 100%;
          width: full;
          margin-top: 3%;
          margin-bottom: 3%;
          padding: 5%;
          color: black;
          font-size: x-large;
        "
      >
        <b
          >Your registration has
          <span style="font-size: xx-large">&nbsp;not been successful.</span>
          &nbsp; Do attempt to register once again! <br /><br />-- Thanks!! </b
        ><br />
        <button
          class="register-button-component"
          style="
            height: 10%;
            margin-top: 3.4%;
            margin-bottom: 3.6%;
            margin-left: 50%;
            padding-top: 1%;
            padding-bottom: 1%;
            padding-right: 2%;
            padding-left: 2%;
            background-color: blue;
            color: white;
            border: none;
            font-size: x-large;
            text-decoration: none;
            font-family: 'Showcard Gothic';
          "
        >
          <a
            href="{% url 'registration_url' %}"
            style="
              color: white;
              text-decoration: none;
              font-family: 'Showcard Gothic';
            "
          >
            Try &nbsp; registering &nbsp; once &nbsp; again....
          </a>
        </button>
      </div>
      <!-- footer component -->
      <div
        class="footer-component"
        style="
          height: 40%;
          width: full;
          margin-top: 1%;
          padding: 1%;
          background-color: crimson;
          color: whitesmoke;
          border: black solid 5px;
          font-size: x-large;
          font-family: 'Showcard Gothic';
        "
      >
        Technical &nbsp; Round: &nbsp; 2023 &nbsp; -- &nbsp; The &nbsp; Investor
        &nbsp; Co.
      </div>
    </div>
  </body>
</html>
